Package: datalayer-storage-mirror-sync
Version: {{ DATALAYER_STORAGE_UPLOADER_VERSION }}
Architecture: {{ PLATFORM }}
Maintainer: Taylor Digital Services, LLC <mtaylor@taylordigitalservices.llc>
Description: DataLayer Storage Mirror Sync
Homepage: https://datalayer.storage
