[Unit]
Description=Datalayer Storage Mirror Sync

[Service]
# Set Chia directory as an environment variable
Environment=CHIA_ROOT=/home/%i/.chia/mainnet

# datalayer executable
ExecStart=/opt/datalayer-storage-mirror-sync/datalayer-storage-mirror-sync

# Start the software with `systemctl start datalayer-storage-mirror-sync@username`
User=%i
Group=%i

[Install]
WantedBy=multi-user.target
